In [15]:
import numpy as np
import pandas as pd

In [20]:
index = pd.MultiIndex.from_product([['a','c','b'],[1,2]])
data= pd.Series(np.random.rand(6), index=index)
data.index.names = ['char','int']

data

char  int
a     1      0.385206
      2      0.559858
c     1      0.630237
      2      0.314409
b     1      0.494898
      2      0.350824
dtype: float64

In [21]:
try:
  data['a':'b']
except KeyError as e:
  print(type(e))
  print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

## 정렬된 인덱스로 만들기
- sort_index()
- sortlevel()

In [22]:
data=data.sort_index()
data

char  int
a     1      0.385206
      2      0.559858
b     1      0.494898
      2      0.350824
c     1      0.630237
      2      0.314409
dtype: float64

In [23]:
# 위 방식으로 정렬하면 슬라이싱이 가능해진다
data['a':'b']

char  int
a     1      0.385206
      2      0.559858
b     1      0.494898
      2      0.350824
dtype: float64

## 인덱스 설정 및 재설정

In [29]:
index = [('California', 2000), ('California', 2010),
         ('NewYork',2000), ('NewYork',2000),
         ('Texas', 2000), ('Texas',2010)]
populations = [110, 120, 
               130, 140 ,
               150, 160]
pop = pd.Series(populations, index=index)
index = pd.MultiIndex.from_tuples(index)
pop = pop.reindex(index)
pop.index.names = ['state','year']
pop

state       year
California  2000    110
            2010    120
NewYork     2000    130
            2000    140
Texas       2000    150
            2010    160
dtype: int64

In [31]:
pop_flat = pop.reset_index(name='population')
pop_flat

        state  year  population
0  California  2000         110
1  California  2010         120
2     NewYork  2000         130
3     NewYork  2000         140
4       Texas  2000         150
5       Texas  2010         160

In [39]:
# 열 값을 Index 값으로 가지도록 하는 set_index()함수
xx=pop_flat.set_index(['state','year'])
xx

                 population
state      year
California 2000         110
           2010         120
NewYork    2000         130
           2000         140
Texas      2000         150
           2010         160

## 다중 인덱스에서 데이터 집계

In [41]:
data_mean = xx.mean(level='state')
data_mean

            population
state
California         115
NewYork            135
Texas              155